<div class="red-bg">
	<div class="row ptb">
		<div class="large-12 columns">
			<div class="orbit pt-s" role="region" aria-label="Favorite Space Pictures" data-orbit>
				<div class="orbit-wrapper">
					<div class="orbit-controls">
						<button class="orbit-previous">
							<span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
						<button class="orbit-next">
							<span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
					</div>
					<ul class="orbit-container">
						{% for block in entry.pageSlider %} {% set image = block.image.first() %}
						<li class="is-active orbit-slide">
							<figure class="orbit-figure">
								<img class="orbit-image" src="{{ image.getUrl('pageSliderSize') }}" alt="Space">
								<figcaption class="orbit-caption">
									{% if block.slideTitle %}
									<div class="caption-box">
										<h3>{{ block.slideTitle }}</h3>
                                        {% if block.slideSubTile %}
                                            <p class="bigger">{{ block.slideSubTile }}</p>
                                        {% endif %}
                                        {% if block.slideLinkText %}
										<a href="{{ block.slideLink }}" class="readmore-excerpt">{{ block.slideLinkText }}
											<i class="fas fa-long-arrow-alt-right"></i>
                                        </a>
                                        {% endif %}
									</div>
									{% endif %}
								</figcaption>
							</figure>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>