{% extends "_layouts/site" %} {% block main %}

<div class="full light-gradient-bg">
	<div class="ptb">
		{% if entry.dualContent %}
			{% include "_includes/dualContent" %}
		{% endif %}
	</div>
</div>
<div class="full concrete-bg ">
	<div class="row ptb">
		<h3 class="styled center-text">
			<strong>The Apex Team</strong>
		</h3>
		<div class="team-box">
			{% for block in entry.teamGrid %} {% set image = block.teamMemberPhoto.first() %}
			<div class="small-6 large-4 columns">
				<img src="{{ image.getUrl() }}" alt="{{ block.teamMemberName }} photo">
				<h4>{{ block.teamMemberName }}</h4>
				<p class="bigger">{{ block.teamMemberPosition }}</p>
			</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}