{% extends "_layouts/site" %}

{% set title = entry.title %}
{% set image = entry.featuredImage.first() %}

{% block main %}

{# Fetch all of the categories related to this entry #}
{% set categories = craft.categories.relatedTo(entry) %}

<div class="full dark-bg">
	<div class="row expanded">
		<nav aria-label="You are here:">
			<ul class="breadcrumbs">
				<li>
					<a href="{{ siteUrl }}">Home</a>
				</li>
				<li>
					<a href="{{ siteUrl }}pickups">Pickups</a>
				</li>
				<li>
					{% for category in categories %}
						<a href="{{ category.url }}">{{ category.title }}</a>
					{% endfor %}					
				</li>
				<li class="disabled">{{ entry.title }}</li>
			</ul>
		</nav>	
	</div>
</div>

<div class="row pickup-selection ptb pb-s">
	<div class="large-5 columns">
		<img src="{{ image.getUrl() }}" class="thumbnail" alt="{{ image.title }}">
	</div>
	<div class="large-7 columns">
		<h1>{{ entry.title }}</h1>
		{{ entry.body }}
		<hr>
		<div class="row">
			{% for block in entry.productFeatures %}
			<div class="large-4 columns">
				{{ block.featureOne }}
			</div>
			<div class="large-8 columns">
				{{ block.featureTwo }}
			</div>
			{% endfor %}
		</div>
		<hr>
		<!-- buy button -->
		<div class="row" dir="rtl">
			<div class="large-12 columns">
				<div class="paypal-form">
					<form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_xclick">
						<input type="hidden" name="business" value="{{ contactMeta.paypalEmail }}">
						<input type="hidden" name="lc" value="GB">
						<input type="hidden" name="item_name" value="test">
						<input type="hidden" name="amount" value="{{ entry.price }}">
						<input type="hidden" name="currency_code" value="GBP">
						<input type="hidden" name="button_subtype" value="services">
						<input type="hidden" name="no_note" value="0">
						<input type="hidden" name="shipping" value="0.00">
						<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
						<button type="submit" class="button">buy now</button>
					</form>
				</div>
				<span class="price hollow">for the set £{{ entry.price }}</span>
				<span class="paypal-icon"><img src="{{ siteUrl }}/assets/images/paypal-logo.png" alt="paypal logo"></span>
				<div class="singles-message">
					Avaiable as Single Pickups
				</div>
			</div>
		</div>
	</div>
</div>
<!-- SOUND AND VIDEO CLIPS-->
<div class="full light-bg pt-s pb">
	<div class="row">
			{% if entry.videoBlock %}
				<div class="row">
					<div class="large-6 columns">
						<h3>Sound clips</h3>
						{% for block in entry.soundBlock %}
							{% set sound = block.soundFile.first() %}
							<div class="soundBlock">
								<h5>{{ block.soundFileTitle }}</h5>
								<audio class="js-player" controls>
									<source src="{{ sound.getUrl() }}" type="audio/mp3">
								</audio>
							</div>
						{% endfor %}
					</div>
					<div class="large-6 columns">
						<h3>Video clips</h3>		
						{% for block in entry.videoBlock %}
							<h5>{{ block.textBlock }}</h5>
							<div class="plyr__video-embed" id="player">
								<iframe src="{{ block.iframeLink }}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
									allowfullscreen allow="autoplay"></iframe>
							</div>
						{% endfor %}
					</div>
				</div>
			{% else %}
				<div class="row">
					{% for block in entry.soundBlock %}
					{% set sound = block.soundFile.first() %}
						<div class="large-6 columns {% if loop.last %} end {% endif %} ">
							<div class="soundBlock">
								<h5>{{ block.soundFileTitle }}</h5>
								<audio class="js-player" controls>
									<source src="{{ sound.getUrl() }}" type="audio/mp3">
								</audio>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
</div>

<div class="full dark-bg ptb">
	<div class="row">
		<div class="large-12 columns text-center">
			<h1>Related Pickups</h1>
		</div>
	</div>
	<div class="row">
		{% set category = entry.category.id %}
		{% set relatedEntries = craft.entries.section('pickups').relatedTo(category).id('not ' ~ entry.id).limit(4) %}
		{% for relatedEntry in relatedEntries %}
		{% set image = relatedEntry.featuredImage.first() %}
			<div class="large-3 columns end">
				<img src="{{ image.getUrl() }}" class="thumbnail" alt="">
				<h4>{{ relatedEntry.title }}</h4>
				<a href="{{ relatedEntry.url }}" class="button expanded">details
					<i class="fas fa-long-arrow-alt-right"></i>
				</a>
			</div>
		{% endfor %}
	</div>
</div>
<div class="full">
	<div class="row pickup-selection ptb" data-equalizer data-equalize-on="medium" id="test-eq">
		{% set counter = 0 %}	
		{% for category in craft.categories.group('pickups') %}
				{% if currentCategories.id == category.id %}

				{% else %}
					{% if counter == 1 %}
						<div class="large-1 columns divider" data-equalizer-watch></div>
					{% endif %}
						<div class="large-5 columns" data-equalizer-watch>
							<h3 class="center-text">{{ category.title }}</h3>
							{{ category.shortDescription }}
							<a href="{{ category.url }}" class="button hollow expanded">view {{ category.title }}
								<i class="fas fa-long-arrow-alt-right"></i>
							</a>
						</div>
					{% set counter = counter + 1 %}
				{% endif %}
		{% endfor %}
	</div>
</div>

<div class="full light-gradient-bg">
	<div class="row ptb">
		{{ pickupsHome.body }}
	</div>
</div>
<!-- MAILING LIST -->
<div class="full red-bg ptb signup-wrapper">
	<div class="mountain-bg"></div>

	<div class="row">
		<div class="large-9 small-centered columns text-center">
			<h2 class="styled">
				<strong>Mailing list</strong>
			</h2>
			<p class="bigger">Subscribe to the Apex Music Co news letter &amp; get the latest updates. #spamfree :)</p>
		</div>
		<!-- Begin MailChimp Signup Form -->
		<div class="large-9 small-centered columns">
			{% include "_includes/mailchimpForm" %}	
		</div>
	</div>
</div>

{% endblock %}