
{% set title = category.title %}

{% extends "_layouts/site" %} {% block main %}

<div class="full ptb">
	<div class="row text-center">
		{{ category.body }}
	</div>
</div>

<div class="full ptb concrete-bg products">
	<div class="row">
		<div class="large-10 large-centered columns">
			{# Fetch all of the entries related to this category #}
			{% set entries = craft.entries.relatedTo(category) %}
			{% for entry in entries %}
				{% set image = entry.featuredImage.first() %}
				<div class="row">
					<div class="large-5 columns">
						<img class="red-border thumbnail" src="{{ image.getUrl() }}" alt="{{ image.title }}">
					</div>
					<div class="large-7 columns">
						<h1>{{ entry.title }}</h1>
						<p>{{ entry.body|hacksaw(words='40', append='...') }}</p>
						<a href="{{ entry.url }}" class="button">details &amp; demo
							<i class="fas fa-long-arrow-alt-right"></i>
						</a>
					</div>
				</div>
				<hr>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}