
{% extends "_layouts/site" %}
{% set title = "Pickups" %}
{% block main %}

<div class="sidekick-image">
	{% set image = pickupsHome.fullWidthBanner.first() %}
	<img src="{{ image.getUrl('fullWidthBanner') }}" alt="pickup banners">
</div>
		
<div class="row ptb">
	{{ pickupsHome.displayTitle }}
</div>

<!-- PICKUP SELECTION  -->
<div class="full concrete-bg ptb">
	<div class="row pickup-selection">
		{% set categories = craft.categories.group('pickups') %}
		{% for category in categories %}
		{% set image = category.featuredImage.first() %}
			<div class="small-12 medium-4 columns">
				<h3 class="styled text-center">
					<strong>{{ category.title }}</strong>
				</h3>
				<img src="{{ image.getUrl() }}" class="thumbnail" alt="{{ image.title }}">
				{{ category.shortDescription }}
				<a href="{{ category.url }}" class="button expanded">View {{ category.title }}
					<i class="fas fa-long-arrow-alt-right"></i>
				</a>
			</div>
		{% endfor %}
	</div>
</div>

<div class="red-bg">
	<div class="row ptb">
		<div class="large-12 columns">
			<div class="orbit pt-s" role="region" aria-label="Favorite Space Pictures" data-orbit>
				<div class="orbit-wrapper">
					<div class="orbit-controls">
						<button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
						<button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
					</div>
					<ul class="orbit-container">
						{% for block in pickupsHome.pageSlider %} {% set image = block.image.first() %}
						<li class="is-active orbit-slide">
							<figure class="orbit-figure">
								<img class="orbit-image" src="{{ image.getUrl('pageSliderSize') }}" alt="Space">
								<figcaption class="orbit-caption">
									<div class="caption-box">
										{% if block.slideTitle %}
											<h3>{{ block.slideTitle }}</h3>
										{% endif %}
										{% if block.slideSubTile %}
											<p class="bigger">{{ block.slideSubTile }}</p>
										{% endif %}
										{% if block.slideLinkText %}
										<a href="{{ block.slideLink }}" class="readmore-excerpt">{{ block.slideLinkText }}
											<i class="fas fa-long-arrow-alt-right"></i>
										</a>
										{% endif %}
									</div>
								</figcaption>
							</figure>
						</li>
						{% endfor %}
					</ul>
				</div>
				<nav class="orbit-bullets">
					<button class="is-active" data-slide="0">
						<span class="show-for-sr">First slide details.</span>
						<span class="show-for-sr">Current Slide</span>
					</button>
					<button data-slide="1">
						<span class="show-for-sr">Second slide details.</span>
					</button>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="full light-gradient-bg">
	<div class="row ptb">
		{{ pickupsHome.body }}
	</div>
</div>

{% endblock %}