{% extends "_layouts/site" %}
{% set title = entry.title %}
{% block main %}

<div class="full concrete-bg">
    <div class="row pt pb-s ">
        <div class="large-11 columns large-centered ">
			{{ entry.body }}
        </div>
    </div>
</div>


{% if entry.pageSlider %}
	{% include "_includes/pageSlider" %}	
{% endif %}

<section class="pt">
	{% if entry.dualContent %}
		{% include "_includes/dualContent" %}
	{% endif %}
</section>

<div class="full dark-bg pb">
	<div class="row ptb">
		<h2 class="styled-reverse center-text">
			<strong>video &amp; photography</strong>
		</h2>
	</div>

	<div class="row">
		{% for block in entry.videoBlock %}
			<div class="large-6 columns">
				{{ block.textBlock }}
			</div>
			<div class="large-6 columns">
				<div class="plyr__video-embed" id="player">
					<iframe src="{{ block.iframeLink }}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
						allowfullscreen allow="autoplay"></iframe>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="pt-s clear">
		{% if entry.pricingList %}
			{% include "_includes/priceList" %}	
		{% endif %}
	</div>
</div>


{% if entry.instagramFeed.contains('includeFeed') %}
	{% include "_includes/instagramFeed" %}	
{% endif %}



{% endblock %}