<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	{% block head %}
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">
		<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- <link rel="stylesheet" type="text/css" href="{{ siteUrl }}assets/fonts/stylesheet.css"> -->
		<link href="https://fonts.googleapis.com/css?family=Contrail+One|Roboto:400,400i,500,500i,700" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ siteUrl }}assets/css/app.css">
		<meta name="theme-color" content="#DA253F">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="icon" href="{{ siteUrl }}assets/images/favicon.ico">
		<link rel="icon" type="image/png" href="{{ siteUrl }}assets/images/shortcut.png" sizes="192x192">
		<link rel="apple-touch-icon" sizes="128x128" href="{{ siteUrl }}assets/images/shortcut-apple.png">
	{% endblock %}
</head>

<!--[if lt IE 11]>
	<script>
		window.location = "/update-browser";
	</script>
<![endif]-->

<body {% if bodyClass is defined %}class="{{ bodyClass }}"{% endif %}>
	
	{% block body %}{% endblock %}
	{% block foot %}{% endblock %}
	
	<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
	<script src="{{ siteUrl }}assets/js/jquery-3.3.1.min.js"></script>
	<script src="{{ siteUrl }}assets/js/foundation.min.js"></script>
	<script src="{{ siteUrl }}assets/js/backstrech.js"></script>
	<script src="{{ siteUrl }}assets/js/instafeed.js"></script>
	<script src="{{ siteUrl }}assets/js/plugins.js"></script>
	<script src="{{ siteUrl }}assets/js/master.min.js"></script>
	<script>
		$(document).foundation();
		if(window.location.pathname == '/') {
			$(document).ready(function() {
				let slides = slide_images[0].split(',');
				$(".hero-image").backstretch([slides], {duration: 3000, fade: 750});
			});
		}
		if(window.location.pathname == '/apex-studio') {
			const player = new Plyr('#player');
		}
	</script>

</body>
</html>


