{% set title = "Contact" %}

{% extends "_layouts/site" %} {% block main %}

<div class="full concrete-bg ptb">
	<div class="large-8 small-centered columns text-center">
		<h1>{{ entry.heading }}</h1>
	</div>
</div>
<div class="row expanded">
	<div class="large-6 columns contact-details red-bg ptb-s">
		<h4>Apex Studio</h4>
		{{ contactMeta.addressOne }}
		<dl>
			<dd>
				<a href="tel:{{ contactMeta.telephone }}">
					<b><i class="fas fa-phone"></i> {{ contactMeta.telephone }}</b>
				</a>
			</dd>
		</dl>
	</div>
	<div class="large-6 columns contact-details dark-bg ptb-s">
		<h4>Apex Workshop</h4>
		{{ contactMeta.addressTwo }}
		<dl>
			<dd>
				<a href="tel:{{ contactMeta.telephone }}">
					<b><i class="fas fa-phone"></i> {{ contactMeta.telephone }}</b>
				</a>
			</dd>
		</dl>
	</div>
</div>
<div class="row expanded collapse">
	<div class="large-12 columns">
		<div id="map_wrapper">
			<div id="map_canvas" class="mapping"></div>
		</div>
	</div>
</div>


{% endblock %}