{#
 # News index template
 # -------------------
 #
 # This template gets loaded when "/news" is requested.
 #
 # The page first displays the most recent featured News entry, followed by the
 # remaining News entries in reverse-chronological order.
-#}

{% extends "_layouts/site" %}

{% block main %}

	<div class="row pt pb-s">
		<div class="large-11 columns large-centered">
			<h2 class="styled center-text"><strong>Apex Blog</strong></h2>
			<h1 class="center-text pt-s">All the latest carry on form the Apex team - all killer no filler </h1>
		</div>
	</div>
	<div class="full ptb concrete-bg">

		{% for blogEntry in craft.entries.section('blog') %}

			<article class="large-8 large-centered columns blog-box">
				<div class="row">
					<div class="large-12 colums">
						<h3><a href="{{ blogEntry.url }}">{{ blogEntry.title }}</a></h3>
						{% set image = blogEntry.featuredImage.first() %}
						{% if image %}
							<a href="{{ blogEntry.url }}">
								<img src="{{ image.getUrl() }}" alt="{{ image.title }}">
							</a>
						{% endif %}
						<p class="blog-stamp">Posted: <b>{{ blogEntry.postDate | date("M d, Y") }}</b></p>
						{{ blogEntry.shortDescription  }}
						<a href="{{ blogEntry.url }}" class="readmore-excerpt">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
					</div>
				</div>
			</article>

		{% endfor %}
	</div>

{% endblock %}
