{% extends "_layouts/site" %} 


{% set title = "Home" %}


{% block main %}
<!-- HERO IMAGE -->
<div class="hero-image">
	<img src="{{ siteUrl }}/assets/images/hero-logo.svg" alt="apex hero logo">
</div>

{% set slides = [] %} 
{% for block in entry.heroSlider%} 
{% set image = block.image.first() %} 
	{% if image %} 
		{% set slides= slides|merge([image.getUrl()]) %} 
	{% endif %}
{% endfor %} 
{% includejs %}
	var slide_images = ["{{ slides | join(',') }}"];
{% endincludejs %}

<!-- INTRO -->
<div class="full concrete-bg">
	<div class="row ptb">
		<div class="large-10 small-centered columns text-center">
			{{ entry.body }}
		</div>
	</div>
</div>

<div class="row expanded ptb hotspots">
	{% for block in entry.hotspotLinks %} {% set image = block.backgroundImage.first() %}
	<div class="large-4 column">
		<h3 class="styled center-text pb-s">
			<strong>{{block.hotspotTitle}}</strong>
		</h3>
		<div class="square" style="background-image:url( {{ image.getUrl() }} )">
			<div class="content">
				<div class="service-details">
					<h4>{{ block.description }}</h4>
					<a href="{{block.hotspotLink}}">Read more
						<i class="fas fa-long-arrow-alt-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% if entry.pageSlider %}
	{% include "_includes/pageSlider" %}	
{% endif %}

<!-- BLOG POSTS SECTION -->
<div class="row pt">
	<div class="large-12 columns text-center">
		<h2 class="styled">
			<strong>Hits from the blog</strong>
		</h2>
	</div>
</div>
<div class="post-excerpts pt pb">      
    {# Pull in the three latest Work entries #}
    {% for blogEntry in craft.entries.section('blog').limit(3) %}
        <div class="row">
            <div class="large-9 columns">
                <h3>{{ blogEntry.title }}</h3>
                <span>{{ blogEntry.postDate | date("M d, Y") }}</span>
            </div>
            <div class="large-3 columns">
                <a href="{{ blogEntry.url }}" class="button ">read more
                    <i class="fas fa-long-arrow-alt-right"></i>
                </a>
            </div>
        </div> 
    {% endfor %} 
</div>

{% if entry.instagramFeed.contains('includeFeed') %}
	{% include "_includes/instagramFeed" %}	
{% endif %}

<!-- MAILING LIST -->
<div class="full red-bg ptb signup-wrapper">
	<div class="mountain-bg"></div>

	<div class="row">
		<div class="large-9 small-centered columns text-center">
			<h2 class="styled">
				<strong>Mailing list</strong>
			</h2>
			<p class="bigger">Subscribe to the Apex Music Co news letter &amp; get the latest updates. #spamfree :)</p>
		</div>
		<!-- Begin MailChimp Signup Form -->
		<div class="large-9 small-centered columns">
			<div id="mc_embed_signup">
				<form action="https://apexmusicco.us17.list-manage.com/subscribe/post?u=bfc5d8a2a72bc6611d7df0494&amp;id=3b47856daf" method="post"
				  id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div class="row">
						<!-- name -->
						<div class="large-4 columns">
							<div class="mc-field-group">
								<label for="mce-FNAME">NAME </label>
								<input type="text" value="" name="FNAME" class="" placeholder="Name" id="mce-FNAME">
							</div>
						</div>
						<!-- emailaddress -->
						<div class="large-4 columns">
							<div id="mc_embed_signup_scroll">
								<div class="mc-field-group">
									<label for="mce-EMAIL">EMAIL ADDRESS
										<span class="asterisk">*</span>
									</label>
									<input type="email" value="" name="EMAIL" class="required email" placeholder="Email Address" id="mce-EMAIL">
								</div>
							</div>
						</div>
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<!-- submit button -->
						<div class="large-4 columns">
							<div class="clear">
								<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button expanded">
							</div>
						</div>

						<div class="large-12 columns">
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>
							<div style="position: absolute; left: -5000px;" aria-hidden="true">
								<input type="text" name="b_bfc5d8a2a72bc6611d7df0494_3b47856daf" tabindex="-1" value="">
							</div>
						</div>

					</div>
				</form>
				<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='BIRTHDAY';ftypes[3]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
			</div>
		</div>
	</div>
</div>

{% endblock %}