{% extends "_layouts/site" %} 

{% set title = "Home" %}

{% block main %}
<!-- HERO IMAGE -->
<div class="hero-image">
	<img src="{{ siteUrl }}/assets/images/hero-logo.svg" alt="apex hero logo">
</div>

{% set slides = [] %} 
{% for block in entry.heroSlider%} 
{% set image = block.image.first() %} 
	{% if image %} 
		{% set slides= slides|merge([image.getUrl()]) %} 
	{% endif %}
{% endfor %} 
{% includejs %}
	var slide_images = ["{{ slides | join(',') }}"];
{% endincludejs %}

<!-- INTRO -->
<div class="full concrete-bg">
	<div class="row ptb">
		<div class="large-10 small-centered columns text-center">
			{{ entry.body }}
		</div>
	</div>
</div>

<div class="row expanded ptb hotspots">
	{% for block in entry.hotspotLinks %} {% set image = block.backgroundImage.first() %}
	<div class="large-4 column">
		<h3 class="styled center-text pb-s">
			<strong>{{block.hotspotTitle}}</strong>
		</h3>
		<div class="square" style="background-image:url( {{ image.getUrl() }} )">
			<div class="content">
				<div class="service-details">
					<h4>{{ block.description }}</h4>
					<a href="{{block.hotspotLink}}">Read more
						<i class="fas fa-long-arrow-alt-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% if entry.pageSlider %}
	{% include "_includes/pageSlider" %}	
{% endif %}

<!-- BLOG POSTS SECTION -->
<div class="row pt">
	<div class="large-12 columns text-center">
		<h2 class="styled">
			<strong>Hits from the blog</strong>
		</h2>
	</div>
</div>
<div class="post-excerpts pt pb">      
    {# Pull in the three latest Work entries #}
    {% for blogEntry in craft.entries.section('blog').limit(3) %}
        <div class="row">
            <div class="large-9 columns">
                <h3>{{ blogEntry.title }}</h3>
                <span>{{ blogEntry.postDate | date("M d, Y") }}</span>
            </div>
            <div class="large-3 columns">
                <a href="{{ blogEntry.url }}" class="button ">read more
                    <i class="fas fa-long-arrow-alt-right"></i>
                </a>
            </div>
        </div> 
    {% endfor %} 
</div>

{% if entry.instagramFeed.contains('includeFeed') %}
	{% include "_includes/instagramFeed" %}	
{% endif %}

<!-- MAILING LIST -->
<div class="full red-bg ptb signup-wrapper">
	<div class="mountain-bg"></div>

	<div class="row">
		<div class="large-9 small-centered columns text-center">
			<h2 class="styled">
				<strong>Mailing list</strong>
			</h2>
			<p class="bigger">Subscribe to the Apex Music Co news letter &amp; get the latest updates. #spamfree :)</p>
		</div>
		<!-- Begin MailChimp Signup Form -->
		<div class="large-9 small-centered columns">
			{% include "_includes/mailchimpForm" %}	
		</div>
	</div>
</div>

{% endblock %}